# Options +FollowSymlinks
# RewriteEngine On


# #Redirect all page to index to php that not found or exist
# # RewriteCond %{REQUEST_FILENAME} !-d

# # RewriteCond %{REQUEST_FILENAME} !-f

# # RewriteRule ^(.*)$ index.php?$1 [L,QSA]

# #remove .php extensions 
# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteCond %{REQUEST_FILENAME}.php -f

# RewriteRule ^(.*)$ $1.php

# #return 404 if original request is .php

# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ]. *$"
# RewriteRule .* - [L,R=404]


# #write rule for cat_products.php
# #RewriteRule ^collections/([0-9]+) cat_products.php?Id=$1 [NC,L]


# #RewriteRule ^([0-9]+) /cat_products.php?Id=$1 [QSA,L]

# #RewriteRule   ^Terms_And_Conditions/?$   termnconditions.php  [NC,L]



# #RewriteRule ^home?$ index.php

# #RewriteRule ^([0-9]+) cat_products.php?Id=$2 [NC,L]
# #NC  makes rule non case sensitive
# #L makes this the last rule that this specific condtion will match

# #RewriteRule ^PrivacyPolicy?$ privacyPolicy.php

# #RewriteRule ^RefundPolicy?$ refundPolicy.php

# #RewriteRule ^Terms & Conditions?$ termnconditions.php
